/* h1 {
    display: flex;
    flex-direction: row;
}

span{ 
    color: green;
    display: flex;
    flex-direction: row;
} */
body {
    /* padding: 10px; */
    background-color: #e3e3e3;
    font-family:"Helvetica","Arial",sans-serif;
}
p{
    line-height:1.7;
    font-size:1.2em;
}

.home .head{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 /* background-color: aqua; */
 margin: 0 auto;
 /* background-image: url("https://static01.nyt.com/images/2018/02/01/magazine/04mag-olympics-alpine-skiing-image1/mag-olympics-images-slide-65JM-superJumbo.jpg"); */
 background-color: #212529;
 /* height: 13%; */
 width: 100%;

}
.home .head h1{
 color: #ced4da;
 font-size: 4rem;
}
.home .button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

 .btn1{
    margin: 0px;
    padding: 10px;
    color: #ced4da;
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}
.btn2{
    margin: 0px;
    padding: 10px;
    color:#ced4da;
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}
.button :hover{
    background-color: #ced4da;
    color: #212529;
}
.intro{
 display: flex;
 flex-direction: row;
 /* border: 1px solid red; */
 justify-content: space-between;
 border-bottom: 0.2rem solid black;
 padding-bottom: 1rem;
}

.intro img{
    /* border: 1px solid blue; */
    /* margin: 0 auto; */
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.home .row{
    display: flex;
    flex-direction: row;
    padding:1rem;
    /* background-color: grey; */
    border-bottom: 1px solid black;
}

.home .row .us{
    /* border: 1px solid black; */
    padding: 20px;
}
.home .row .you{
    /* border: 1px solid black; */
    padding: 20px;
}

.bottom{
    background-color: #212529;
    color: #ced4da;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom h4{
    border-bottom: 1px solid #ced4da;
    font-size: 1.5rem;
  
}

.logIn .head{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 /* background-color: aqua; */
 margin: 0 auto;
 /* background-image: url("https://static01.nyt.com/images/2018/02/01/magazine/04mag-olympics-alpine-skiing-image1/mag-olympics-images-slide-65JM-superJumbo.jpg"); */
 background-color: #212529;
 /* height: 13%; */
 width: 95%;
 padding: 1.5rem;
}

.logIn .head h1{
    color: #ced4da;
    font-size: 4rem;
}

.logIn .head .btn{
    margin: 0px;
    padding: 10px;
    color: #ced4da;
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}

.logIn .head .btn:hover{
    background-color: #ced4da;
    color: #212529;
}

.logIn .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    /* background-color: grey; */
    /* border-bottom: 1px solid black; */
}