/*
h1 {
    display: flex;
    flex-direction: row;
}

span{ 
    color: green;
    display: flex;
    flex-direction: row;
} 

body {
    padding: 10px;
    background-color: #e3e3e3;
    font-family:"Helvetica","Arial",sans-serif;
}
p{
    line-height:1.7;
    font-size:1.2em;
}

@media (max-width: 800px){
    .home .head{
    width: 100%;
    align-content: center;
    margin: 1px 1px 1px 1px;
  }
}

.home .head{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 background-color: aqua;
 margin: 0 auto;
 background-image: url("https://static01.nyt.com/images/2018/02/01/magazine/04mag-olympics-alpine-skiing-image1/mag-olympics-images-slide-65JM-superJumbo.jpg");
 background-color: #212529;
 height: 13%;
 width: 100%;

}
.home .head h1{
 color: #ced4da;
 font-size: 4rem;
}
.home .button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

 .btn1{
    margin: 0px;
    padding: 10px;
    color: #ced4da;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}
.btn2{
    margin: 0px;
    padding: 10px;
    color:#ced4da;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}
.button :hover{
    background-color: #ced4da;
    color: #212529;
}
.intro{
 display: flex;
 flex-direction: row;
 border: 1px solid red;
 justify-content: space-between;
 border-bottom: 0.2rem solid black;
 padding-bottom: 1rem;
}

.intro img{
    border: 1px solid blue; */
    /* margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.home .row{
    display: flex;
    flex-direction: row;
    padding:1rem;
    background-color: grey;
    border-bottom: 1px solid black;
}

.home .row .us{
    border: 1px solid black;
    padding: 20px;
}
.home .row .you{
    border: 1px solid black;
    padding: 20px;
}

.bottom{
    background-color: #212529;
    color: #ced4da;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom h4{
    border-bottom: 1px solid #ced4da;
    font-size: 1.5rem;
}

.logIn .head{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 background-color: aqua;
 margin: 0 auto;
 background-image: url("https://static01.nyt.com/images/2018/02/01/magazine/04mag-olympics-alpine-skiing-image1/mag-olympics-images-slide-65JM-superJumbo.jpg");
 background-color: #212529;
 height: 13%;
 width: 95%;
 padding: 1.5rem;
}

.logIn .head h1{
    color: #ced4da;
    font-size: 4rem;
}

.logIn .head .btn{
    margin: 0px;
    padding: 10px;
    color: #ced4da;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}

.logIn .head .btn:hover{
    background-color: #ced4da;
    color: #212529;
}

.logIn .article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background-color: grey; */
    /* border-bottom: 1px solid black;
}
*/

body {
    background-color:white;
    font-family:"Helvetica","Arial",sans-serif;
}

.container .header{
    /* border: 1px solid red; */
    /* position: fixed; */
}

.container .header nav{
    margin: 0px;
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    justify-content: space-around;
    /* vertical-align: center; */
}

.navbar a {
    display: flex;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown {
    float: center;
    overflow: hidden;
  }
 .dropdown .dropbtn {
    align-content: right;
    font-size: 16px; 
    border: 1px solid black;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
  } */
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: left;

  }
  
/* Add a grey background color to dropdown links on hover
.dropdown-content a:hover {
    background-color: #ddd;
  } */

  /* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  } */
  
 nav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    flex-direction: row;
    border: none;
    background: white;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.navbar a {
    vertical-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
} 

/* .fa-caret-down {
    float: right;
    padding-right: 8px;
  } */
.intro{
    /* border: 1px solid green; */
    padding: 20px;
    height: 400px;
    background-color: #343a40;
    color: white;
}

.intro .row{
    height: 190px;
}
.intro .row h1{
    font-size: 4rem;
    /* color: white; */
    text-align: center;
}
.intro .row p{
    /* color: white; */
    text-align: center;
    font-size: 1.5rem;
}
.intro .row .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}
.intro .row .buttons .btn{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    padding: 1rem;
    margin: 10px;
}
.btn2{
   
    background-color: #fcc419;
}
.btn1{
    border: 2px solid white;
}
/* .buttons .btn .btn:hover{
    background-color: red;
} */

.about{
    /* border: 1px solid blue; */
}
.about .text{
    padding: 20px;
    /* border: 1px solid black; */
}
.about .text .row h2{
    font-size: 40px;
   text-align: center;
}
.about .text .row .sub-heading{
    font-size: 20px;
    text-align: center;
}
.about .row .about-text{
    line-height: 1.7;
    padding: 10px;
    text-align: center;
}
.works{
    background-color: #e9ecef;
    overflow: hidden;
    padding: 0px;
    height: 100%;
   
}
.work{
    align-items: center;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* border: 1px solid red; */
    padding-left: 20px;
    margin:0px;
}
.works .row{
    text-align: center;
}
.row-col {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90%;
    margin: 0px;
}
.work .work-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: 100%;
    /* overflow: hidden; */
}
.work-description{
    background-color:red;;
}
.row {
    /* border: 1px solid orange; */
}
.news{
    /* margin-top: 50px;
    margin-left: 20px; */
    background-color: #e9ecef;
    /* border: 1px solid yellow; */
    /* width: 100%; */
}

.text-center h2{
    padding-top:20px;
    text-align: center;
    /* border-bottom: 2px solid red; */
}
.text-center-sub-heading{
    display: flex;
    flex-direction: column;
    padding-bottom:20px;
}
.breakfast-img{
    width: 30%;
}
.lunch-img{
    width: 30%;
    height:200%;
}
.dinner-img{
    width: 30%;
    height:90%;
}
.recipes {
text-align: center;
 /* background-color: red; */
 font-size: 20px;
 padding: 20px;
 /* border: 1px solid grey; */
 width:90%;
}
.recipes button{
text-align: center;
size:50px;
}
.row-team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-people{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.contact{
    background-color: #e3e3e3;
}
.contact .row{
    /* background-color: green; */
    text-align: center;
    padding-top:20px;
}
.col{
    /* background-color: blue; */
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row-contact{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-contact .col{
    
}
form .text{
    color: black;
    text-align: left;
}
form{
    margin: 20px;
    width: 100%;
}
input{
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    background-color: #e3e3e3;
    border: 1px solid grey;
}
textarea[type=text]{
    background-color: #e3e3e3;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
}

input[type=submit]{
    background-color: #f2c351;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding: 14px 28px;
    width: auto;
}
   

.bottom{
    background-color: grey;
    padding:20px;
}
.bottom .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom .row .about-footer{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    max-width: 35%;
}
.bottom .row .theme{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    max-width: 35%;
}
.bottom .row .workouts {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    max-width: 35%;
}

.row .copyright p{
    /* padding-top: 20px; */
    color: red;
}