/* h1 {
    display: flex;
    flex-direction: row;
}

span{ 
    color: green;
    display: flex;
    flex-direction: row;
} */
body {
    padding: 10px;
    background-color: #e3e3e3;
}
.head{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
text-align: center;
 /* background-color: aqua; */
 margin: 0 auto;
}
.head h1{
 color: red;
 font-size: 4rem;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}
 .btn1{
    /* margin: 0px;
    padding: 0px; */
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}
.btn2{
    /* margin: 0px;
    padding: 0px; */
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}

.intro{
 display: flex;
 flex-direction: row;
 /* border: 1px solid red; */
 justify-content: space-between;
 border-bottom: 1px solid black;
 padding-bottom: 1rem;
}

.intro img{
    /* border: 1px solid blue; */
    margin: 20px;
    padding: 30px;
    width: 80%;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
