
body {
    padding: 10px;
    background-color: #e3e3e3;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    /* background-color: aqua; */
    margin: 0 auto;
    /* background-image: url("https://static01.nyt.com/images/2018/02/01/magazine/04mag-olympics-alpine-skiing-image1/mag-olympics-images-slide-65JM-superJumbo.jpg"); */
    /* background-color: #212529; */
    background-color: #343a40;
   
}
.head h1{
    color: #ced4da;
    font-size: 4rem;
}
a.btn{
    padding: 50px;
    margin-top: 30px;
    color: #ced4da;
    font-size: 2rem;
    text-decoration: none;
    /* border: 1px solid blue; */
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
}
